@inherits LayoutComponentBase
@using MyPortfolio.Services
@using MyPortfolio.Components
@inject ThemeService _themeService

<MudThemeProvider Theme="_themeService.CurrentTheme" @bind-IsDarkMode="_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        @* <MudText Typo="Typo.h6">Dydha Mpandou</MudText> *@
        <MudSpacer />
        <div style="display: flex; flex-direction : row; align-items : center; gap : 5px;">
            <MudNavLink Href="https://github.com/dydha" Target="_blank">
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub"
                               Color="Color.Inherit" />
            </MudNavLink>
            <MudNavLink Href="https://www.linkedin.com/in/dydha-mpandou-3575a4105/" Target="_blank">
                <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn"
                               Color="Color.Inherit" />
            </MudNavLink>
        </div>
        <ThemeSwitcher />
        @* <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/dydha" Target="_blank" />
        <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Inherit" Link="https://www.linkedin.com/in/dydha-mpandou-3575a4105/" Target="_blank" /> *@
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>

    <MudMainContent Style="margin : 10px;">
        @Body
    </MudMainContent>

    <MudScrollToTop>
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.KeyboardArrowUp" />
    </MudScrollToTop>
</MudLayout>

@code {
    private bool _drawerOpen = true;
    private bool _isDarkMode;
    protected override async Task OnInitializedAsync()
    {
        _themeService.ThemeChanged += OnThemeChanged;
        await _themeService.InitializeAsync();
        _isDarkMode = _themeService.IsDarkMode;
    }
    private void OnThemeChanged(bool value)
    {
        _isDarkMode = value;
        StateHasChanged();
    }
    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }
}